<!DOCTYPE html>
<html>
<head>
    <title>Book Tickets - {{ movie }}</title>
</head>
<body>
    <h1>Book Tickets for {{ movie }}</h1>
    <form method="POST" action="/tickets">
        <input type="hidden" name="movie" value="{{ movie }}">
        <label>Number of Seats:</label><br>
        <input type="number" name="seats" min="1" required><br><br>
        <label>Date:</label><br>
        <input type="date" name="date" required><br><br>
        <label>Time:</label><br>
        <input type="time" name="time" required><br><br>
        <input type="submit" value="Book Tickets">
    </form>
    <div>
        <a href="/home1">Back to Dashboard</a>
    </div>
</body>
</html>
